@lightGreen: #b9e7e7;

@media (min-width: 1024px) {

    /* 在宽度大于等于 1024px 时应用的样式 */
    /* 示例：调整字体大小和布局 */
    body {
        font-size: 18px;
    }

    #root {
        .container {
            width: 70%
        }
    }
    .home {
        margin-top: 50px;
        .posts{
            .post{
                gap: 50px;
                .img{
                    flex: 2 0 0;
                }
               
            }
        }
    }
    .navBar{
        .container{
            .logo{
                flex:1;
            }
            .links{
                flex:3;
            }
        }
    }
    .single{
        margin-top: 50px;
        .content{
            .blog{
                padding: 30px
            }
        }
    }
    .add{
        margin-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* 在宽度介于 768px 和 1023px 之间时应用的样式 */
    /* 示例：调整字体大小和布局 */
    body {
        font-size: 16px;
    }

    #root {
        .container {
            width: 70%;
        }
    }
    .home {
        margin-top: 70px;
        .posts{
            .post{
                gap: 100px;
                .img{
                    flex: 6 0 0;
                }
               
            }
        }
    }
    .navBar{
        .container{
            .logo{
                flex:1;
            }
            .links{
                flex:3;
            }
        }
    }
    .single{
        margin-top: 80px;
        .content{
            .blog{
                padding: 30px
            }
        }
    }
    .add{
        margin-top: 90px;
    }
}
@media (max-width: 767px) {

    /* 在宽度小于等于 767px 时应用的样式 */
    /* 示例：调整字体大小和布局 */
    body {
        font-size: 14px;
    }

    #root {
        .container {
            width: 80%;
        }
    }
    .home {
        margin-top: 110px;
        .posts{
            .post{
                gap: 50px;
                .img{
                    flex: 8 0 0;
                }
               
            }
        }
    }
    .single{
        margin-top: 130px;
        .menuBox{
            display: none;
        }
        .content{
            .blog{
                padding: 30px
            }
        }
    }
    .add{
        margin-top: 130px;
    }
}
@media (max-width: 460px){
    .home {
        margin-top: 150px;
    }
    .single{
        margin-top: 160px;
        .content{
            .blog{
                padding: 15px
            }
        }
    }
    .add{
        margin-top: 180px;
    }
}
@media (max-width: 400px)
{
    .home {
        margin-top: 150px;
    }
    .single{
        margin-top: 180px;
    }
    .add{
        margin-top: 180px;
    }
}

/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


#root {
   
    display: flex;
    justify-content: center;
    position: relative;
    .container {
        //AUTH
        .auth {
            display: flex;
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 250px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }

                p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    text-align: center;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        //NAVBAR
        .navBar {
            height: 50px;
            width: 100%;
            .container {
                background-color: white;
                position: fixed;
                top: 0;
                padding: 10px 0px;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .logo {
                    img {
                        height: 70px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap:10px;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }
                    span {
                        cursor: pointer;
                    }
                    .write {
                        background-color: @lightGreen ;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }

        //FOOTER
        footer {
            margin-top: 80px;
            padding: 20px;
            background-color: #b9e7e6;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .heart {
                color: red;
            }

            img {
                height: 50px;
            }
        }

        //HOME
        .home {
            // margin-top: 50px;
            width: 100%;

            .posts {

                display: flex;
                flex-direction: column;
                gap: 100px;
                width: 100%;
                // overflow: hidden;

                .post {
                    width: 100%;
                    display: flex;
                    // gap: 50px;

                    &:nth-child(2n+1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        // flex: 2 0 0;
                        position: relative;
                        max-height: 250px;

                        // min-width: 30%;
                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: @lightGreen;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        a {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            box-sizing: border-box;
                            border: 1px solid lightblue;
                            width: 100%;
                            height: 100%;
                            //拉升填满
                            object-fit: fill;
                        }
                    }

                    .content {
                        flex: 7 0 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: space-between;
                        overflow: hidden;

                        h1 {
                            font-size: 22px;
                            display: -webkit-box;
                            /* 设置为弹性盒子模型 */
                            // max-height:80px;
                            -webkit-line-clamp: 1;
                            /* 设置显示的行数 */
                            -webkit-box-orient: vertical;
                            /* 设置为垂直方向 */
                            overflow: hidden;
                            /* 隐藏超出的内容 */
                            text-overflow: ellipsis;
                            /* 使用省略号截断超出的文本 */
                            // white-space: normal;
                            /* 将换行符合并成一个空格，防止出现多余的空格 */
                        }

                        p {
                            font-size: 15px;
                            display: -webkit-box;
                            /* 设置为弹性盒子模型 */
                            // max-height: 100px;
                            -webkit-line-clamp: 5;
                            /* 设置显示的行数 */
                            -webkit-box-orient: vertical;
                            /* 设置为垂直方向 */
                            overflow: hidden;
                            /* 隐藏超出的内容 */
                            text-overflow: ellipsis;
                            /* 使用省略号截断超出的文本 */
                            white-space: normal;
                            /* 将换行符合并成一个空格，防止出现多余的空格 */

                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid @lightGreen;
                            color: teal;

                            &:hover {
                                border: 1px solid white;
                                background-color: @lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE
        .single {
            // color: white;
            display: flex;
            gap: 50px;
            // width: 100%;
            .content {
                flex: 10;
                display: flex;
                flex-direction: column;
                gap: 30px;
                // width: 100%;
                .pic {
                    // margin: 0 auto;
                    width: 100%;
                    max-height: 300px;
                    object-fit: fill;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .username {
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .publishTime {
                        font-size: 13px;
                        color: gray;
                    }

                    .edit {
                        display: flex;
                        gap: 5px
                    }
                }

                .blog {
                    border: 1px solid gray;
                    box-sizing: border-box;
                    // padding: 10px;
                    overflow: hidden;
                    width: 100%;
                    p {
                        //两端文本对齐
                        text-align: justify;
                        line-height: 30px;

                        img {
                            display: block;
                            margin: 0 auto;
                            max-width: 50%;
                            max-height: 60%;
                        }
                    }
                }

            }

            // &::after{
            //     content: '';
            //     flex:5;
            // }
            .menuBox {
                flex: 4;
                height: 100%;
                .menu {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    align-items: center;
                    padding: 10px 0;
                    h1 {
                        color: #555;
                        font-size: 20px;
                    }

                    .post {
                        width: 100%;
                        display: flex;
                        a{
                            flex:1;
                            display: flex;
                            .ant-card{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        img {
                            width: 100%;
                            max-height: 200px;
                            object-fit: fill;
                        }
                    }

                }
                .slideInfo{
                    margin-top: 20px;
                    .ant-card-head{
                        background: linear-gradient(rgb(234, 232, 232),rgb(195, 195, 195));
                    }
                    .recommendBox{
                        display: flex;
                        justify-content: space-evenly;
                        .recommend{
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            gap: 10px;
                            align-items: center;
                        }
                    }
                    
                }
            }

        }

        //WRITE
        .add {
            // margin-top: 50px;
            display: flex;
            align-items: stretch;
            gap: 20px;
            width: 100%;
            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                // overflow: auto;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                 
                    // overflow: scroll;
                    // border-bottom: 1px solid;
                    height: 200px;
                    .editor {
                        height: 100%;
                        box-sizing: border-box;
                        img {
                            display: block;
                            margin: 0 auto;
                            max-width: 50%;
                            max-height: 60%;
                        }
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    .change {
                        display: flex;
                        align-items: center;
                        gap: 5px
                    }

                    h1 {
                        font-size: 20px;
                    }

                    .file {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                }
            }
        }
    }
}